{% load static %}
<div style="position: fixed; left:0; bottom: 0; width: 100%; text-align: center">
    <!-- Footer -->
    <footer
            class="text-center text-lg-start text-dark"
            >
      <!-- Copyright -->
      <div
           class="text-center p-3"
           style="background-color: rgb(27, 27, 27)"
           >
        © 2014 Copyright:
        <a class="text-ligth" href="https://www.servicenet.com.br/application/modules/default/layouts/scripts/lgpd.pdf"
           >LGPD - Proteção de Dados</a
          >
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->
  </div>