{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container-home">
        {% include 'partils/menu.html' %}
        <div class="area-principal">
            <div class="contact-area section-padding-0-80" style="margin-top: 5%;">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="section-heading">
                                <h2>Agendamento #{{agendamento.id}}</h2>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive-xl">
                        <table class="table table-bordered" style="background-color: white;">
                            <thead class="thead-dark">
                              <tr>
                                <th scope="col">#</th>
                                <th scope="col">Data</th>
                                <th scope="col">Medico</th>
                                <th scope="col">Paciente</th>
                                <th scope="col">Status</th>
                                <th scope="col">Descrição</th>
                              </tr>
                            </thead>
                            <tbody>
                                <tr >
                                    <th scope="row">{{agendamento.id}}</a></th>
                                    <td>{{agendamento.data}}</td>
                                    <td>{{agendamento.medico}}</td>
                                    <td>{{agendamento.paciente}}</td>
                                    {% if agendamento.status_agendamento == "AC" %}
                                        <td style="color: darkblue; font-size: large;"><strong>{{agendamento.status_agendamento}}</strong></td>
                                    {% endif %}
                                    {% if agendamento.status_agendamento == "C" %}
                                        <td style="color: green; font-size: large;"><strong>{{agendamento.status_agendamento}}</strong></td>
                                    {% endif %}
                                    {% if agendamento.status_agendamento == "F" %}
                                        <td style="color: red; font-size: large;"><strong>{{agendamento.status_agendamento}}</strong></td>
                                    {% endif %}
                                    <td>{{agendamento.descricao}}</td>
                                </tr>
                            </tbody>
                          </table>
                          <div class="botao-excluir">
                            <a href="{% url 'deleta_agendamento' agendamento.id %}" class="btn btn-danger" style="width: 100%;" role="button">Deletar</a>
                          </div>
                          <m-accordion>
                            <details style="margin-bottom: 3%;">
                                <summary>Editar</summary>
                                <main>
                                    <div class="contact-area section-padding-0-80">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="section-heading">
                                                        <h2 style="margin-bottom: 3%;">Agendamento</h2>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="contact-form-area">
                                                        <form action="{% url 'edita_agendamento'%}" method="POST">
                                                            {% csrf_token %}
                                                            <input type="text" id="agendamento_id" class="form-control" name="agendamento_id" value="{{agendamento.id}}" hidden>
                                                            <div class="row">
                                                                <div class="col-12 col-lg-12">
                                                                    <label for="medico"><b>Médico</b></label>
                                                                    <select name="medico" id="id_select_medico" required class="form-control form-control-sm">
                                                                        <option value="">Selecione</option>
                                                                        {% if lista_usuarios %}
                                                                            {% for usuario in lista_usuarios %}
                                                                                <option value="{{usuario.id}}">{{usuario.nome}}</option>
                                                                            {% endfor %}
                                                                        {% else %}    
                                                                        {% endif %}
                                                                    </select>
                                                                </div>
                                                                <div class="col-12 col-lg-12">
                                                                    <label for="paciente"><b>Paciente</b></label>
                                                                    <select name="paciente" id="id_select_paciente" required class="form-control form-control-sm">
                                                                        <option value="">Selecione</option>
                                                                        {% if lista_pacientes %}
                                                                            {% for paciente in lista_pacientes %}
                                                                                <option value="{{paciente.id}}">{{paciente.nome}}</option>
                                                                            {% endfor %}
                                                                        {% else %}    
                                                                        {% endif %}
                                                                    </select>
                                                                </div>
                                                                <div class="col-12 col-lg-12">
                                                                    <label for="status"><b>Status  de Agendamento</b></label>
                                                                    <select name="status" id="id_select_status" required class="form-control form-control-sm">
                                                                        <option value="">Selecione</option>
                                                                        <option value="AC">A confirmar</option>
                                                                        <option value="C">Confirmado</option>
                                                                        <option value="F">Finalizado</option>
                                                                    </select>
                                                                </div>
                                                                <div class="col-12 col-lg-12">
                                                                    <label for="descricao"><b>Descrição</b></label>
                                                                    <textarea cols="30" rows="5" type="text" class="form-control" name="descricao" placeholder="Ex.: Consulta com médico Jonatas pela manhã, paciente Ismael" required>{{agendamento.descricao}}</textarea>
                                                                </div>
                                                                <div class="col-12 col-lg-6">
                                                                    <label for="data_criacao"><b>Data</b></label>
                                                                    <input type="datetime-local" class="form-control" name="data" required>
                                                                </div>
                                                
                                                                <div class="col-12 text-center">
                                                                    <button class="btn btn-success" style="margin-top: 2%;" type="submit">Atualizar Agendamento</button>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </main>
                            </details>
                        </m-accordion>
                    </div>
                </div>
            </div>
        </div>
        {% include 'partils/footer.html' %}
    </div>
{% endblock %}