{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container-home">
        {% include 'partils/menu.html' %}
        <div class="area-principal">
            <div class="contact-area section-padding-0-80" style="margin-top: 5%;">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="section-heading">
                                <h2 style="margin-bottom: 3%;">Cadastrar Paciente</h2>
                            </div>
                        </div>
                    </div>
                    {% include 'partils/alertas.html' %}
                    <div class="row">
                        <div class="col-12">
                            <div class="contact-form-area">
                                <form action="{% url 'cadastro_paciente'%}" method="POST">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-12 col-lg-12">
                                            <label for="nome"><b>Nome completo</b></label>
                                            <input type="text" class="form-control" name="nome" placeholder="Ex.: Ismael Jônatas dos Santos Silva" required>
                                        </div>
                                        <div class="col-12 col-lg-12">
                                            <label for="telefone"><b>Telefone</b></label>
                                            <input type="text" class="form-control" pattern="\(\d{2}\)\d{5}-\d{4}" name="telefone" placeholder="Ex.: (00)00000-0000" required/>
                                        </div>
                                        <div class="col-12 col-lg-6">
                                            <label for="CEP"><b>CEP</b></label>
                                            <input type="text" pattern="\d{5}-\d{3}" name="cep" id="cep" value="" size="10" maxlength="9" onblur="pesquisacep(this.value)" class="form-control"  placeholder="EX.: 58030-110" required>
                                        </div>
                                        <div class="col-12 col-lg-6">
                                            <label for="endereco"><b>Endereço</b></label>
                                            <input type="text" id="endereco" class="form-control" name="endereco" placeholder="EX.: Av. Espírito Santo, 883 - Estados" required>
                                        </div>
                                
                                        <div class="col-12 col-lg-6">
                                            <label for="cidade"><b>Cidade</b></label>
                                            <input type="text" id="cidade" class="form-control" name="cidade" placeholder="EX.: João Pessoa" required>
                                        </div>
                                        <div class="col-12 col-lg-6">
                                            <label for="UF"><b>UF</b></label>
                                            <input type="text" class="form-control" id="uf" size="2" name="uf" placeholder="EX.: PB" required>
                                        </div>
                                        <div class="col-12 col-lg-6">
                                            <label for="pais"><b>Pais</b></label>
                                            <input type="text" id="pais" class="form-control" name="pais" placeholder="EX.: Brasil" required>
                                        </div>
                                        
                                        <div class="col-12 text-center">
                                            <button class="btn btn-success" style="margin-top: 2%;" type="submit">Adicionar Paciente</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>      
        </div>
        {% include 'partils/footer.html' %}
    </div>
    
{% endblock %}