{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container-home">
        {% include 'partils/menu.html' %}
        <div class="area-principal">
            <div class="conteudo-medical">
                <h1>MedicalSys</h1>
                <p>Sistema de agendamentos de consultas</p>
                <figure>
                    <img src="{% static 'img/logo.png' %}" alt="logo">
                </figure>
                <figcaption>Service.Net</figcaption>
                <br>
            </div>
        </div>
        {% include 'partils/footer.html' %}
    </div>
    
{% endblock %} 